<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        <i class="title material-icons">
            account_balance_wallet
        </i>
        Bem vindo! 
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para agendamento de transferencias de dinheiro
    </mat-card-subtitle>
</mat-card>

<mat-card style="margin-top: 29px;">
    <mat-card-title>Taxas para tranferencias</mat-card-title>
    <mat-card-subtitle>Entenda as taxas antes de fazer uma transferencia</mat-card-subtitle>
    <mat-card-content>
        <li>1) Transferências no mesmo dia do agendamento tem uma taxa de $3 mais 3% do valor a ser
            transferido;</li>
        <li>2) Transferências até 10 dias da data de agendamento possuem uma taxa de $12 multiplicado
            pela quantidade de dias da data de agendamento até a data de transferência.</li>
        <li> 
            3) Operações do tipo C tem uma taxa regressiva conforme a data de transferência:
            <br />
            <p>
                Acima de 10 até 20 dias da data de agendamento 8% <br />
                Acima de 20 até 30 dias da data de agendamento 6% <br />
                Acima de 30 até 40 dias da data de agendamento 4% <br />
                Acima de 40 dias da data de agendamento e valor superior a 100.000 2% 
            </p>
        </li>
    </mat-card-content>
</mat-card>